*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
    color: rgb(0, 0, 0);
}
.container{
    width: 2000px;
    margin: auto;
    padding: 0px 20px;
}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    flex:0 0 calc(33.33% - 20px );
    max-width: 1300px;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
    background-color: white;
    opacity: 0.8;
    border-radius: 4px;

}

.card:hover{
    border-color: #1d39c4;
    opacity: 0.5;
    

}

.image {
    margin: auto;
    width: 50%;
    height: 50%;
    display: block;

}


@media(max-width:969px){

    .card{
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}