.navbar {

    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 80%;
    list-style-type: none;
    text-decoration: none;

}

.collection {
    background-color: transparent;
    list-style-type: none;
    position: absolute;
    right: 3%;
    font-family: monospace;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.home {
    background-color: transparent;
    list-style-type: none;
    position: absolute;
    left: 3%;
    font-family: monospace;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
